<!DOCTYPE html>
<html>

<head>
<title>{{v_version_titel}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/dna-theme.css">
</head>

<body>

<!-- Header -->

<div class="w3-row-padding">
  <header class="card">
    <center><h3>{{v_version_program}}</h3></center>
  </header>
</div>
<br>
<!--Navigation-->
<div class="w3-container">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Erfassung</a>
            <div class="dropdown-menu">
                <a class="dropdown-item disabled" href="#">Erfassung Abrechnungswerte</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="abrechnungsdaten.html">Erfassung Abrechnungswerte</a>
                <a class="dropdown-item" href="uebersicht.html">Übersicht Abrechnungswerte</a>
                <a class="dropdown-item" href="abr_del.html">Abrechnungswerte löschen</a>
            </div>
        </li>

    </ul>
  </div>
<br>
<div class="w3-row-padding">
<div class="w3-quarter">
&nbsp;
</div>

<div class="w3-half">
<form class="w3-container card w3-round">
  <h2>Stammdaten</h2>
  <div class="w3-row-padding">
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_beraternummer", readonly placeholder={{v_bnr}}>
      <label for="Beraternummer">Beraternummer</label>
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_mandantennummer", readonly placeholder={{v_mdt}}>
      <label for="Mandantennummer">Mandantennummer</label>
    </div>
    <div class="w3-third">
      <input class="w3-input w3-border-teal" type="text" name="form_MMJJ", readonly placeholder={{v_monat}}/{{v_jahr}}>
      <label for="MMJJ">Abrechnungsmonat/Jahr</label><br><br>
    </div><br>
  </div>
</form>
</div>

<div class="w3-quarter">
&nbsp;
</div>

<div class="w3-row-padding">
<br>

<form action="http://localhost:17102/abrechnungsdaten.html" class="w3-container w3-card-4 w3-round" , method="POST">

    <div class="w3-row-padding">
        <div class="w3-quarter">
            <h3>Auswahl Personalnummer:</h3>
        </div>
        <div class="w3-quarter">
            <center>
                <br>
                <select class="form-control w3-input w3-pale-yellow input w3-border-red" type="text" name="form_personalnummer" , required style="width:50%">
                    {% for pnrlist in PNR_dropdown_list %}
                    <option value={{pnrlist}}>{{pnrlist}}</option>
                    {% endfor %}
                </select><br>
            </center>
        </div>
        <div class="w3-quarter">
            <h3>Auswahl Steuer</h3>
            </div>
            <div class="w3-quarter">
        
                <center>
                    <br>
                    <select class="form-control w3-input w3-pale-yellow input w3-border-red" type="text" name="form_steuer" , required style="width:50%">
                        <option value="19" selected>USt 13b 19%</option>
                        <option value="0">USt befreit</option>
                        <option value="7">USt 7%</option>
                    </select><br>
                </center>
         
            <h3>&nbsp;</h3>
        </div>
    </div>





    <div class="w3-row-padding">
        <div class="w3-half">
            <h3>Abrechnungsdaten</h3><br />
        </div>
        <div class="w3-half">
            <h3>&nbsp;</h3><br />
        </div>
    </div>

    <div class="w3-half">
        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar ohne Steuer</label></p>
            </div>
            
            <div class="w3-col l2 w3-left">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommaos" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommaos" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar 15% Pauschal</label></p>
            </div>
           
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommap15" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommap15" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar abzüglich Betriebsausgaben</label></p>
            </div>
           
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommaab" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommaab" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Betriebsausgaben bei Honorar</label></p>
            </div>
            
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommaba" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommaba" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar Nettovereinbarung</label></p>
            </div>

            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommanetto" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommanetto" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar Nettovereinbarung bis 250 EUR</label></p>
            </div>
            
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommanetto2" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommanetto2" pattern="[0-9]*" maxlength="2">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l5 w3-left">
                <p><label>Honorar ohne Steuer wegen DBA</label></p>
            </div>
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_eurovorkommadba" pattern="[-+]?[0-9]*" maxlength="5">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommadba" pattern="[0-9]*" maxlength="2">
        </div>

        <br />
    </div>

    <div class="w3-half">

        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>Kostenstelle</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_kostenstelle" , maxlength="13">
            <div class="w3-col l3 w3-left">
                <p><label>Kostenträger/Agentur</label></p>
            </div>
            <input class="w3-col l3 w3-input w3-border" type="text" name="form_kostentraeger" , maxlength="13">
        </div>
        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>Art der Tätigkeit</label></p>
            </div>
            <select class="form-control w3-col l9 w3-input w3-border" type="text" name="form_abrtyp">
                <option value="Keine Angabe">Keine Angabe</option>
                <option value="Selbstständige Tätigkeit - künstlerische oder sportliche Darbietung (§ 50a Abs. 1 Nr. 1)" selected>
                    Selbstständige Tätigkeit - künstlerische oder sportliche Darbietung (§ 50a Abs. 1 Nr. 1)
                </option>
                <option value="Selbstständige Tätigkeit - inländische Verwertung einer Darbietung (§ 50a Abs. 1 Nr. 2)">
                    Selbstständige Tätigkeit - inländische Verwertung einer Darbietung (§ 50a Abs. 1 Nr. 2)
                </option>
                <option value="Selbstständige Tätigkeit - Rechteüberlassung (§ 50a Abs. 1 Nr. 3)">
                    Selbstständige Tätigkeit - Rechteüberlassung (§ 50a Abs. 1 Nr. 3)
                </option>
            </select>
            <br />
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>freier Text (120 Zeichen)</label></p>
            </div>
            <input class="w3-col l9 w3-input w3-border" type="text" name="form_freiertext" , maxlength="120">
        </div>
      

        <div class="w3-row-padding">
            <div class="w3-col l12 w3-left">
                <h3>Agenturprovision als Betrag oder % erfassen !</h3>
            </div>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>Agenturprovision </label></p>
            </div>
            <div class="w3-col l3 w3-left">
                <p><label>Betrag </label></p>
            </div>
            <div class="w3-col l2 w3-rigth">
                <p><label>EURO</label></p>
            </div>
            <input class="w3-col l2 w3-input w3-border" type="text" name="form_eurovorkommaagp" pattern="[-+]?[0-9]*" maxlength="5" placeholder="0">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_euronachkommaagp" pattern="[0-9]*" maxlength="2" placeholder="00">
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>Agenturprovision</label></p>
            </div>
            <div class="w3-col l3 w3-left">
                <p><label>gesamt</label></p>
            </div>

            <div class="w3-col l2 w3-rigth">
                <p><label>Prozent</label></p>
            </div>
            <input class="w3-col l2 w3-input w3-border" type="text" name="form_prozentvorkommaagp" pattern="[-+]?[0-9]*" maxlength="3" placeholder="0">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_prozentnachkommaagp" pattern="[0-9]*" maxlength="2" placeholder="00">
        </div>


        <div class="w3-row-padding">
            <div class="w3-col l3 w3-left">
                <p><label>Agenturprovision</label></p>
            </div>
            <div class="w3-col l3 w3-left">
                <p><label>davon AN-Anteil</label></p>
            </div>
            <div class="w3-col l2 w3-rigth">
                <p><label>Prozent</label></p>
            </div>
            <input class="w3-col l2 w3-input w3-border" type="text" name="form_anteilprozentvorkommaagp" pattern="[-+]?[0-9]*" maxlength="3" placeholder="0">
            <div class="w3-col l1 w3-rigth">
                <p><label>,</label></p>
            </div>
            <input class="w3-col l1 w3-input w3-border" type="text" name="form_anteilprozentnachkommaagp" pattern="[0-9]*" maxlength="2" placeholder="00">
        </div>
    </div>
    </div>

    <br>
    <div class="w3-third">
        <center>
            <input type="submit" button class="btn btn-primary" value="speichern" />
        </center><br>
    </div>

    <div class="w3-third">&NonBreakingSpace;
    </div>

    <div class="w3-third">
        <center>
            <input type="reset" button class="btn btn-default" value="verwerfen">
        </center>
    </div><br>
</form>


    <!-- Tabelle für bereits erfasste werte noch einbauen -->


<div class="w3-row-padding">
    <br>
    <div class="w3-card">
        <form class="w3-container w3-card-4 w3-round">
            <h3>Hinweise</h3>
            <br>
            <div class="w3-row-padding">
                <div class="w3-half">
                    <p>Erfassung Werte für Mitarbeiter nach §50a EStG</p>
                </div>
                <div class="w3-half">
                    <p>
                        Zur Abrechnung ist im DATEV Lohnprogramm eine individuelle Einrichtung erforderlich.<br />
                        Stimme die Inhalte mit deinem Steuerberater, bzw. der lohnabrechnenden Stelle ab.<br>
                </div>
            </div>
        </form>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
