<!DOCTYPE html>
<html>

<head>
    <title>{{v_version_titel}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/bewerber.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dna-theme.css">

</head>

<body>

    <!-- Header -->
    <div class="w3-row-padding">
        <header class="card">
            <center><h3>{{v_version_program}} Neuanlage Agenturen</h3></center>
        </header>
    </div>
    <br>

    <!--Navigation-->
    <div class="w3-container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Grundstammdaten</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="basisdaten.html">Grundeinstellungen</a>
                    <a class="dropdown-item" href="basis_fibu.html">Fibu Konten</a>
                    <a class="dropdown-item" href="basis_an.html">AN anlegen</a>
                    <a class="dropdown-item" href="basis_agentur.html">Agentur anlegen</a>
                </div>
            </li>
        </ul>
    </div>
    <br>

    <div class="w3-row-padding">
        <div class="card">
            <center>
                <h3>
                    Die hier verwendete Agenturnummer ist im Rechnungswesen als Personenkonto Lieferant anzulegen<br />
                    Agentur unbedingt vor dem Import im DATEV Rechnungswesen anlegen!!<br />
                </h3>
            </center>
        </div>
    </div>

    <div class="w3-row-padding">
        <br>
        <form action="http://localhost:17102/basis_agentur.html" class="w3-container w3-card-4 w3-round" , method="POST">
            <h2>Agenturnummer wie im Rechnungswesen</h2>
            <div class="w3-section">
                <div class="w3-half">
                    <input class="w3-input w3-border  w3-pale-yellow w3-round" type="text" name="form_bezeichnung" , required maxlength="20">
                    <label>Bezeichnung<br></label><br>
                </div>
            </div>



            <div class="w3-row-section">
                <div class="w3-third">
                    <input class="w3-input w3-border  w3-pale-yellow w3-round" type="text" name="form_agenturnr" , required maxlength="9">
                    <p><label>&nbsp;&nbsp;Agenturnummer Rechnungswesen</label></p>
                </div>

            </div>



            <div class="w3-row">
                <div class="w3-quarter">

                </div>
                <div class="w3-quarter">
                </div>

                <div class="w3-quarter">
                </div>
                <div class="w3-quarter">
                </div>
                <br>
            </div>

            <br>

    </div></div>
    <br>
    <div class="w3-third">
        <center>
            <input type="submit" button class="btn btn-primary" value="speichern" />
        </center><br>
    </div>

    <div class="w3-third">&NonBreakingSpace;</div>

    <div class="w3-third">
        <center>
            <input type="reset" button class="btn btn-default" value="verwerfen">
        </center><br>
    </div>
    </form>
    </div>

    <div class="w3-quarter">
        &nbsp;
    </div>
    <br>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>