<!DOCTYPE html>
<html lang="de" xml:lang="de" xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>{{v_version_titel}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="../static/bewerber.ico" type="image/x-icon" />
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/dna-theme.css">
<link rel="stylesheet" href="../static/format.css">


</head>

<body>

    <!-- Header -->

    <div class="w3-row-padding">
        <header class="card">
            <center><h3>{{v_version_program}}</h3></center>
        </header>
    </div>
    <br>

    <!--Navigation-->
    <div class="w3-container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Import/Export</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="import_lodas.html">Personen Lodas importieren</a>
                    <a class="dropdown-item" href="import_lug.html">Personen LuG importieren</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="export_lodas.html">Export DATEV Lodas</a>
                    <a class="dropdown-item" href="export_lug.html">Export DATEV Lohn und Gehalt</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="export_steuer.html">CSV Export für Monatsauswertungen</a>
                    <a class="dropdown-item" href="export_csv.html">CSV Export komplett</a>
                </div>
            </li>
        </ul>
    </div>

    <br>



    <div class="w3-row-padding">
        <div class="w3-quarter">
            &nbsp;
        </div>

        <div class="w3-half">
            <form class="w3-container card w3-round">
                <h2>Stammdaten</h2>
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_beraternummer" , readonly placeholder={{v_bnr}}>
                        <label for="Beraternummer">Beraternummer</label>
                    </div>
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_mandantennummer" , readonly placeholder={{v_mdt}}>
                        <label for="Mandantennummer">Mandantennummer</label>
                    </div>
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_MMJJ" , readonly placeholder={{v_monat}}/{{v_jahr}}>
                        <label for="MMJJ">Abrechnungsmonat/Jahr</label><br><br>
                    </div><br>
                </div>
            </form><br />
        </div>

        <div class="w3-quarter">
            &nbsp;
        </div>

        <br />

        <div class="w3-row-padding">
            <div class="w3-card">
                <form action="http://localhost:17102/export_lodas.html" class="w3-container w3-card-4 w3-round" , method="POST">
                    <div class="w3-third">
                        <br />
                        <center>
                            <input type="submit" button class="btn btn-primary" value="exportieren" />
                        </center><br />
                    </div>
                    <div class="w3-third">&NonBreakingSpace;</div>
                    <div class="w3-third">
                        <br />
                        <center>
                            <input type="reset" button class="btn btn-default" value="verwerfen">
                        </center><br />
                    </div>
                </form>
            </div>
        </div><br />

        <div class="w3-row-padding">
            <div class="w3-card">
                <div class="w3-center w3-container w3-card-4 w3-round">
                    <button type="button" class="btn btn-info">{{v_text}}</button>
                </div>
            </div>
        </div>
        <br />

        <div class="w3-row-padding">
            <div class="w3-card">
                <form class="w3-container w3-card-4 w3-round">
                    <h3>Monatsübersicht</h3>
                    <div class="w3-row-padding">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Personalnummer</th>
                                <th>Lohnart</th>
                                <th>Betrag</th>
                                <th>Kostenstelle</th>
                                <th>Kostenträger</th>
                                <th>Art der Tätigkeit</th>
                            </tr>

                            {% for zeile in tabelle %}
                            <tr>
                                {% for zelle in zeile %}
                                <td>{{ zelle }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />


                    <div id="footer">
                        <p><center><H5>ARM-Tools - 2021/2022</H5></center></p>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
