<!DOCTYPE html>
<html>

<head>
<title>{{v_version_titel}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="../static/bewerber.ico" type="image/x-icon" />
<link rel="stylesheet" href="../static/w3.css">
<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/dna-theme.css">
<link rel="stylesheet" href="../static/format.css">
</head>

<body>

    <!-- Header -->
    <div class="w3-row-padding">
        <header class="card">
            <center><h3>{{v_version_program}}</h3></center>
        </header>
    </div>
    <br>

    <!--Navigation-->
    <div class="w3-container">

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Erfassung</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item disabled" href="#">Erfassung Abrechnungswerte</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="abrechnungsdaten.html">Erfassung Abrechnungswerte</a>
                    <a class="dropdown-item" href="uebersicht.html">Übersicht Abrechnungswerte</a>
                    <a class="dropdown-item" href="abr_del.html">Abrechnungswerte löschen</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Import/Export</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="import_lodas.html">Personen Lodas importieren</a>
                    <a class="dropdown-item" href="import_lug.html">Personen LuG importieren</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="export_lodas.html">Export DATEV Lodas</a>
                    <a class="dropdown-item" href="export_lug.html">Export DATEV Lohn und Gehalt</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="export_steuer.html">CSV Export für Monatsauswertungen</a>
                    <a class="dropdown-item" href="export_csv.html">CSV Export komplett</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Grundstammdaten</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="basisdaten.html">Grundeinstellungen</a>
                    <a class="dropdown-item" href="basis_fibu.html">Fibu Konten</a>
                    <a class="dropdown-item" href="basis_an.html">AN anlegen</a>
                </div>
            </li>
        </ul>
    </div>

    <br>

    <div class="w3-container">
        <center>
            <button type="button" class="btn btn-info">
                {{v_heute}}
            </button>
        </center>
    </div>
    <br>

    <div class="w3-row-padding">
        <div class="w3-quarter">
            &nbsp;
        </div>

        <div class="w3-half">
            <form class="w3-container card w3-round">
                <h2>aktuelle Einstellungen</h2>
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_beraternummer" , readonly placeholder={{v_bnr}}>
                        <label for="Beraternummer">Beraternummer</label>
                    </div>
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_mandantennummer" , readonly placeholder={{v_mdt}}>
                        <label for="Mandantennummer">Mandantennummer</label>
                    </div>
                    <div class="w3-third">
                        <input class="w3-input w3-border-teal" type="text" name="form_MMJJ" , readonly placeholder={{v_monat}}/{{v_jahr}} >
                        <label for="MMJJ">Abrechnungsmonat/Jahr</label><br><br>
                    </div><br>
                </div>
            </form><br />
        </div>

        <div class="w3-quarter">
            &nbsp;
        </div>
    </div>




    <div class="w3-row-padding">
        <div class="w3-card-4">
            <div class="w3-container">
                <center><img src="../static/image019.png"><br /><h4>dein monatlicher Workflow</h4></center><br />
            </div>
        </div>
    </div>
    <br />
    <div class="w3-row-padding">
        <div class="w3-quarter">
            <div class="w3-card-4">
                <div class="w3-container">

                    <img src="../static/image020.png"><br /><h4>Übernahme aus DATEV</h4><br />
                    - Export mit Datenanalyse aus dem DATEV Lohnprogramm<br>
                    - Import der Daten über Import/Export Personen importieren<br>
                    <br /> <br />
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card-4">
                <div class="w3-container">

                    <img src="../static/image019.png"><br /><h4>Erfassung Honrorar/Gage</h4><br />
                    - Erfassung der Abrechnungswerte<br>
                    - über Erfassung/Erfassung Abrechnungswerte<br>
                    - Prüfung und Korrektur der Werte<br /><br />

                    &nbsp;
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card-4">
                <div class="w3-container">

                    <img src="../static/image020.png"><br /><h4>Export an DATEV</h4><br />
                    - Export der Daten nach Lodas<br>
                    - Export der Daten nach Lohn und Gehalt<br>
                    - CSV Export (optional)<br><br />
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card-4">
                <div class="w3-container">
                    <img src="../static/image002.png"><br /><h4>Grundstammdaten</h4><br>
                    - optionale Einstellungen für:<br>
                    - Berater und Mandant<br />
                    - Abrechnungszeitraum<br><br />
                    &nbsp;
                </div>
            </div><br>
        </div>
        <br><br><br>
    </div>


    <div class="w3-row-padding">
        <div class="w3-card-4">
            <div class="w3-center w3-container">
                 <button type="button" class="btn btn-info">{{v_text}}</button>
            </div>
        </div>
    </div>

    <br />

    <br><br>        <br><br><br>        <br><br><br>        <br><br>

    <div id="footer">
        <center>
            localhost:17102/ muss gestartet sein.<br>
            dazu ist ein Programmaufruf von ARMTool.exe erforderlich<br>
            Online Verbindung erforderlich.
            <center><H5>ARM-Tools - 2021/2022</H5></center>
        </center>
    </div>
    <br>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>